@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  margin: 0;
  overflow: hidden;
  background-color: #09090b;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
